<%- include('../Partial/Header') %>
    <div class="d-flex align-items-center justify-content-center vh-80">
        <div class="col-10">
            <div class="card p-3">
                <div class="table-responsive">
                    <table
                        class="table table-light table-striped table-hover table-bordered align-middle text-center caption-top">
                        <caption class="m-0 pt-0">
                            <div class="d-flex align-items-center justify-content-between">
                                <p class="fs-2 m-0 fw-semibold">Employee List</p>
                                <a href="/addUser" class="btn btn-dark">Add Employee</a>
                            </div>
                        </caption>
                        <thead class="table-dark">
                            <tr>
                                <th>Sr.</th>
                                <th>Name</th>
                                <th>E-Mail</th>
                                <th>Password</th>
                                <th>Gender</th>
                                <th>Skills</th>
                                <th>Branch</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% employees.forEach((employee, index)=> { %>
                                <tr>
                                    <td>
                                        <%=index + 1%>
                                    </td>
                                    <td>
                                        <%=employee.name%>
                                    </td>
                                    <td>
                                        <%=employee.email%>
                                    </td>
                                    <td>
                                        <%=employee.id%>
                                    </td>
                                    <td>
                                        <%=employee.gender%>
                                    </td>
                                    <td>
                                        <%=employee.skills%>
                                    </td>
                                    <td>
                                        <%=employee.branch%>
                                    </td>
                                    <td>
                                        <%=employee.address%>
                                    </td>
                                    <td>
                                        <a href="/editemployee/<%-index %>" class="btn btn-outline-success">Edit</a>
                                        <a href="/deleteemployee/<%-index %>" class="btn btn-outline-danger">Delete</a>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<%- include('../Partial/Footer') %>